<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <h3><%= t('pluralize.place', count: 2) %> (<%= @user.places.count %>)</h3>

      <% if logged_in? and current_user?(@user) %>
        <%= link_to t('.new_place'), new_place_path, class: "btn btn-primary", "data-turbolinks" => "false" %>
      <% end %>

    <% if @user.places.any? %>
      <br>

      <%= will_paginate @places %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%= Place.human_attribute_name(:name) %></th>
            <th><%= Place.human_attribute_name(:mass) %></th>
            <th><%= Place.human_attribute_name(:collected_at) %></th>
            <% if logged_in? and current_user?(@user) %>
              <th colspan="3"></th>
            <% else %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render @places %>
        </tbody>
      </table>
      <%= will_paginate @places %>
    <% end %>
  </div>
</div>
