<footer class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <small><%= t('.international_environmental_education_program_on_micro_plastics_html') %></small>
    <nav>
      <ul>
        <li><%= link_to t('static_pages.about.title'),   about_path %></li>
        <li><%= link_to t('static_pages.help.title'), help_path %></li>
        <li><%= link_to t('static_pages.contact.title'), contact_path %></li>
        <li><a href="#"><%= t('.news') %></a></li>
      </ul>
    </nav>
  </div>
</footer>
